.mood-buttons {
	text-align: center;
}

.mood-button {
	color: #fff;
	width: 100%;
	margin: 1px;
	font-weight: bold;
}

.mood-button.mood-1 {
	background: #000;
}
.mood-button.mood-2 {
	background: #16258E;
}
.mood-button.mood-3 {
	background: #35539F;
}
.mood-button.mood-4 {
	background: #A8B9E7;
	//color: #fff;
}
.mood-button.mood-5 {
	background: #D4D8D7;
	//color: #000;
}
.mood-button.mood-6 {
	background: #B5E7E7;
	//color: #000;
}
.mood-button.mood-7 {
	background: #83E7C4;
	//color: #000;
}
.mood-button.mood-8 {
	background: #6BE793;
}
.mood-button.mood-9 {
	background: #46E765;
}
.mood-button.mood-10 {
	background: #51E700;
}