<h2 ng-if="!loggedIn" class="jumbotron">Want to backup your data? <a href="/#/#login">Login or register</a>.</h2>


<div class="alert alert-warning" ng-if="!mood.data.length">You haven't saved any moods yet. <a href="#/record">Save a few</a> and then come back here to see your data visualised.</div>

<div ng-if="mood.data.length">
	<h2>Moods over past week</h2>
	<p>Want more charts? <a href="mailto:tomchambers@gmail.com">Email me</a> and I'll add them.</p>
	<div>	
		<linechart data="mood.data" options="options" mode="" width="" height=""></linechart>
	</div>
</div>
