<sync-checker></sync-checker>

<div ng-if="!loggedIn">
  <div class="jumbotron main">
    <h1>Track your emotional life</h1>
    <p class="lead">
      Harmony is a simple web and iPhone app for mood tracking
    </p>
  </div>

  <div class="row marketing">
        <form class="form-signin">
          <a id="login"></a>
          <h2>Register or login</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="loginForm.email" required>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="loginForm.password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="doLogin()">Sign in</button>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="doRegister()">Register</button>
        </form>

        <form class="form-signin">
        <h3>Reset password</h3>
        <label for="resetEmail" class="sr-only">Email address</label>
        <input type="email" id="resetEmail" class="form-control" placeholder="Email address" ng-model="resetForm.email" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="doPasswordReset()">Reset password</button>
      </form>
  </div>
</div>

<h2>Your mood history</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td class="text-center"><strong>Mood level</strong></td>
        <td></td>
        <td><strong>Date</strong></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="entry in mood.data | orderObjectBy:'userTimestamp':true">
        <td class="text-center">{{entry.level}}</td>
        <td><div class="mood-bar mood-{{entry.level}}"></div></td>
        <td><span am-time-ago="entry.userTimestamp"></span> - {{entry.userTimestamp | amDateFormat:'h:mm DD/MM/YY'}}</td>
        <td>
          <span ng-if="entry.offline"><i class="fa fa-exclamation-triangle"></i>
        </td>
        <td ng-click="deleteRecord(entry.id, entry.offline)"><span ng-if="!entry.synced && entry.id"><i class="fa fa-times remove-button"></span></td>
      </tr>
    </table>
    <div class="alert alert-warning" ng-if="!mood.data">You haven't saved any moods yet, try <a href="#/record">recording</a> what you're feeling now.</div>
    <small><i class="fa fa-exclamation-triangle"></i> - indicates moods saved offline or anonymously</small>
  </div>
</div>