<h2>Record a mood</h2>

<h2 ng-if="!loggedIn" class="jumbotron">You can save moods on your computer, but you'll need to <a href="/#/#login">login or register</a> to backup and sync your data with the app.</h2>

<div class="alerts">
	<div class="alert-container">
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>
</div>

<ng-toast></ng-toast>
<toast></toast>

<mc-messages></mc-messages>

 <div growl></div>

<button class="btn mood-button mood-10" ng-click="saveMood(10)">Amazing</button>
<button class="btn mood-button mood-9" ng-click="saveMood(9)">Great</button>
<button class="btn mood-button mood-8" ng-click="saveMood(8)">Good</button>
<button class="btn mood-button mood-7" ng-click="saveMood(7)">Content</button>
<button class="btn mood-button mood-6" ng-click="saveMood(6)">Not bad</button>
<button class="btn mood-button mood-5" ng-click="saveMood(5)">Whatever</button>
<button class="btn mood-button mood-4" ng-click="saveMood(4)">Meh</button>
<button class="btn mood-button mood-3" ng-click="saveMood(3)">Quite unhappy</button>
<button class="btn mood-button mood-2" ng-click="saveMood(2)">Very unhappy</button>
<button class="btn mood-button mood-1" ng-click="saveMood(1)">Unbearably awful</button>