

<h2 ng-if="!loggedIn" class="jumbotron"><a href="#/">Login or register</a> to use the API</h2>

<div ng-if="loggedIn" class="col-md-3 pull-right text-right">
	<button class="btn btn-danger" ng-click="doLogout()">Logout {{userEmail}}</button>
</div>

<section ng-if="loggedIn">
	<h2>API</h2>
	<h3>Your auth token</h3>
	<input class="form-control" type="text" value="{{authToken}}" size="35" />

	<h3>Endpoints</h3>
	<pre>
		<table>
			<tr>
				<td>PUT</td>
				<td>http://moodtrackerapp.firebase.io/moodlogNumbers/{{userId}}.json</td>
			</tr>
			<tr>
				<td>GET</td>
				<td>http://moodtrackerapp.firebase.io/moodlogNumbers/{{userId}}.json</td>
			</tr>
			<tr>
				<td>DELETE</td>
				<td>http://moodtrackerapp.firebase.io/moodlogNumbers/{{userId}}.json</td>
			</tr>			
		</table>
	</pre>
</section>